body {
    background-color: #1f1f1f;
    color: rgb(165, 195, 250);
}

.carousel23{

    background-color: rgb(0, 1, 1);

}

h1{
    padding-bottom: 20px;
    padding-left: 10px;

}

.head-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.icons{
    display: flex;
    flex-direction: row;
    align-items: center;


}

#icon1{
    padding-right: 10px;
}

.form-container {
    max-width: 300px;
    margin: auto;
    padding-top: 100px;
}
.btn-primary {
    background-color: #0069d9;
    border-color: #0062cc;
    
}

#register{
    display: none;
}

.redirect{
    display: inline-block;
}

.card-element{
    background-color: #1f1f1f;
    color: rgb(165, 195, 250);
}

.object-fit-cover{
    object-fit: contain;
}

/* .border-success-glow {
    box-shadow: 0 0 5px #28a745;
}

.border-danger-glow {
    box-shadow: 0 0 5px #dc3545;
}

.border-primary-glow {
    box-shadow: 0 0 5px #007bff;
} */